/* 
CSS for Polaris -- conversion of TetrisSP (C) to Javascript/Canvas 
for WDP Project WS17/18 FH Hagenberg BB SE 
from Sebastian Spanner S1610307038 
created 2018-01-02 17:30 
*/

@font-face {
    font-family: 'Soviet 3D Italic';
    font-style: normal;
    font-weight: normal;
	/* no rights to this font */
    src: local('Soviet 3D Italic'), url('../font/Soviet23Di.woff') format('woff');
}

body { 
    background-color: darkcyan;
    color: #fff;
    font-family: 'Soviet 3D Italic', Verdana, sans-serif;
    font-size: 16pt;
    margin: 2px;
}

h2 { 
    font-size: 120%;
    text-align: center;
}

#main {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    width: auto;
}

#container { 
    background-color: #bd532b;
    border: 5px solid #000;
    color: #fff;
    display: flex;
    margin: 0;
    padding: 5px;
    width: auto;
}

#board {
    background-color: lightgrey;
    border: 1px solid #000;
    color: #fff;
}

#right {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1px;
    padding: 0 5px;
}

#right> :first-child {
    margin-top: 0;
}

.info {
    background-color: lightgrey;
    border: 1px solid #000;
    color: #000;
    margin: 6px;
    padding: 3px;
    text-align: center;
    width: 100%;
}

#preview { 
    background-color: lightgrey; 
    border: 1px solid #000;
    color: #000;
    display: block;
}

#level, #score, #rows { 
    font-style: normal;
    font-weight: bold;
}

#level {
    background-color: inherit;
    color: #ff48c4;
}

#score { 
    background-color: inherit;
    color: #2bd1fc;
}

#rows { 
    background-color: inherit;
    color: #d8689a;
}

script {
    display: none;
}

.invisible {
    font-family: 'Soviet 3D Italic';
    font-size: 8pt;
    visibility: hidden;
}